.bmiCalculator input[type="radio"] {
    display: none;
}

.bmiCalculator label {
    position: relative;
    line-height: 31px;
    padding-left: 2.5rem;
}

.bmiCalculator input:not(:checked) + label::before {
    position: absolute;
    content: '';
    color: transparent;
    height: 31px;
    width: 31px;
    left: 0;
    border-radius: 50%;
    border: 1px solid var(--clr-borders);
}

 .bmiCalculator input:checked + label::before { 
    position: absolute;
    content: '';
    background-color: var(--clr-blue);
    height: 15px;
    width: 15px;
    left: 8px;
    top: 8px;
    border-radius: 50%;
    border: 1px solid var(--clr-borders);
}

 .bmiCalculator input:checked + label::after { 
    position: absolute;
    content: '';
    background-color: var(--clr-blue);
    height: 31px;
    width: 31px;
    left: 0;
    border-radius: 50%;
    border: 1px solid var(--clr-borders);
    opacity: .15;
} 

.measurementSelectionContainer {
    display: flex;
    gap: 2rem;
}