.bmiCalculator {
	background-color: white;
	padding: var(--spacer);
	border-radius: 1rem;
	box-shadow: var(--box-shadow-1);
	isolation: isolate;
}

.bmiCalculator > * + * {
	margin-top: var(--spacer);
}

.bmiCalculator fieldset {
	position: relative;
	border: none;
	padding-inline: 0;
	padding-block: 0;
}

.bmiCalculator fieldset div {
	font-size: 0.875rem;
}

.bmiCalculator input[type='radio'] {
	display: none;
}

.bmiCalculator label {
	position: relative;
	line-height: 31px;
	padding-left: 2.5rem;
}

.bmiCalculator input:not(:checked) + label::before {
	position: absolute;
	content: '';
	color: transparent;
	height: 31px;
	width: 31px;
	left: 0;
	border-radius: 50%;
	border: 1px solid var(--clr-borders);
}

.bmiCalculator input:checked + label::before {
	position: absolute;
	content: '';
	background-color: var(--clr-blue);
	height: 15px;
	width: 15px;
	left: 8px;
	top: 8px;
	border-radius: 50%;
	border: 1px solid var(--clr-borders);
}

.bmiCalculator input:checked + label::after {
	position: absolute;
	content: '';
	background-color: var(--clr-blue);
	height: 31px;
	width: 31px;
	left: 0;
	border-radius: 50%;
	border: 1px solid var(--clr-borders);
	opacity: 0.15;
}

.measurementSelectionContainer {
	display: flex;
	gap: 2rem;
}

.bmiCalculator input[type='number'] {
	font-size: var(--txt-heading-md-size);
	font-weight: var(--txt-heading-wght);
	height: 4.375rem;
	width: 100%;
	border: 1px solid var(--clr-borders);
	border-radius: 12px;
	padding: 20px 24px;

	/* Hide arrows on Firefox */
	-moz-appearance: none;
}

.bmiCalculator input[type='number']::-webkit-inner-spin-button,
.bmiCalculator input[type='number']::-webkit-inner-spin-button {
	/* hide arrows */
	-webkit-appearance: none;
	margin: 0;
}

.bmiCalculator fieldset:has(input[type='number'])::after {
	position: absolute;
	content: attr(data-unit);
	right: 24px;
	top: 25%;
	font-size: var(--txt-heading-md-size);
	font-weight: var(--txt-heading-wght);
	color: var(--clr-blue);
}

.bmiCalculator fieldset div {
	color: var(--clr-body);
}

.resultsPanel {
	color: #fff;
	background: var(--gradient-2);
	border-radius: var(--border-radius);
	padding: calc(var(--spacer) * 1.5);
}

.resultsPanel p:first-of-type {
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.5;
}

.result {
	font-size: var(--txt-heading-lg-size);
	font-weight: var(--txt-heading-wght);
}

.bmiRange {
	font-weight: bold;
}
