.bmi-calculator {
    --border-radius: 16px;

    border-radius: var(--border-radius);

    & fieldset {
        border: none;
        padding-inline: 0;
    }

}

.bmi-calculator--input-group-container {
    display: flex;
    gap: 1rem;
}

.bmi-inputs__heading {
    margin-bottom: calc(1rem / 2);
}

.bmi-inputs > :last-child {
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    .bmi-inputs {
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
    }

    .bmi-inputs > :last-child {
        margin-top: 0;
    }
}
