.logo {
    position: relative;
    display: block;
    margin-inline: auto;
    z-index: 1;
  }

  .intro-text {
    position: relative;
    font-size: var(--txt-body-md-size);
    text-align: center;
    text-wrap: balance;
    z-index: 1;
  }

  .header {
    position: relative;
    background: var(--clr-header-bg) ;
    padding: var(--spacer);
  }

  .header-bg {
    position: absolute;
    content: '';
    background-color: inherit;
    height: 100%;
    width: 100%;
    z-index: -1;
    margin-left: calc(-1 * var(--spacer));
    margin-top: calc(-1 * var(--spacer));
  }

  .header-bg-gradient {
    content: '';
    background: var(--gradient-1);
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    margin-top: calc(-2 * var(--spacer));
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
  }

  .header-heading {
    position: relative;
    z-index: 1;
  }
