.improve-bmi {
    background-color: var(--clr-header-bg);
    padding-bottom: 3.5rem;
}

.improve-bmi > *:not(img) {
    padding-inline: 1.5rem;
}

.improve-bmi__intro {
    display: flex;
    flex-direction: column;
}

.bmi-interpretation {
    margin-top: 3rem;
}

.bmi-interpretation___description {
    margin-top: 2rem;
}

.improve-bmi__card-list {
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;
    gap: 2.5rem;
}

.improve-bmi__card {
    & h2 {
        margin-top: 2rem;
    }

    & p {
        margin-top: 0.66666667rem;
    }
}

@media screen and (min-width: 768px) {
    .improve-bmi__intro {
        --offset: 5rem;
        flex-direction: row;
    }

    .improve-bmi__intro > * {
        flex: 1 1 50%;
    }

    .improve-bmi__intro:first-child {
        transform: translateX(calc(-1 * var(--offset)));
    }

    .bmi-interpretation > * {
        transform: translateX(calc(var(--offset) + 1rem));
        padding-right: 1rem;
    }

    .improve-bmi .improve-bmi__card-list {
        padding-inline: 40px;
    }

    .improve-bmi__card {
        display: flex;
        align-items: center;
    }

    .improve-bmi__content {
        margin-left: 1.1rem;
    }

    .improve-bmi__content h2 {
        margin-top: 0;
    }
}
