h1, h2 {
    color: var(--clr-gunmetal);
}

h1 {
    font-size: var(--txt-heading-lg-size);
    line-height: var(--txt-heading-line-height);
    font-weight: var(--txt-heading-wght);
    width: min-content;
}

h2 {

}